<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/padolsey-archive/jquery.fn/master/cross-domain-ajax/jquery.xdomainajax.js"></script>
<title>Django Girls blog</title>
</head>
<body>
<div class="page-header">
  <h1><a href="/">Django Girls Blog</a></h1>
  <a href="/post/new/" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="content container" id="mainpage">
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <h1><a href="/post/1/">test</a></h1>
      </div>
      <div class="post">
        <h1><a href="/post/3/">t3</a></h1> <div>
{% for row in data %}
{{ row.0|addslashes }} <br> <a href="#">  {{ row.1|addslashes }} </a> <br>   {{ row.2|addslashes }}  <br>  {{ row.3|addslashes }}  <br>   {{ row.4|addslashes }}
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</body>
</html>
