{% extends "mock/base.html" %}
{% block content %}


<div id="page-wrapper" class="gray-bg">
  <!-- div class="row border-bottom"-->

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-10">
      <h2>Mock Page</h2>
      <ol class="breadcrumb">
        <li>
        <a href="../Report">Home</a>
        </li>
        <li>
        <a>Report</a>
        </li>
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <br>
  {% include "mock/report_parts.html" %}
<h2><a href="/export_pdf">export_pdf</a></h2>
  <div id="report-main">

  {% for i_fig in a_fig %}
  <div class="row">
      <div class="col-lg-12" >
          <div class="ibox">
              <div class="ibox-content">
                  <h5>{{i_fig|first}}</h5>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="col-lg-12">
                  {% if i_fig|last != 0 %}
                  <img id="img-{{i_fig|last}}" src="https://plot.ly/~tallidea/{{i_fig|last}}.jpg" height="300" width="600"> 
                   <!--  style="position:absolute;top:200px;left:50px;"   -->
                  {% endif %}
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
  {% endfor %}
<!-- /div-->
</div>
</div>

{% endblock %}
